* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

#editorContainer {
    height: 100%;
    width: 50%;
}

#resultsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 10px;
    overflow: auto;
    border-left: 1px solid #ddd;
}

.controlsContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.button {
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
}



#runQueryButton {
    background: green;
}

#resultsTableContainer {
    flex: 1 1 auto;
}

#errorContainer {
    color: red;
}

#downloadAnchor {
    margin-left: 5px;
    margin-right: 5px;
}

#downloadAnchor[href=""] {
    display: none;
}

.p7 {
    padding: 7px;
}


.collapsible {
    padding: 7px;
}

.collapsible[data-collapsed="true"]+.collapsed {
    display: none;
}


.collapsible[data-collapsed="false"]::before {
    content: "⮟ ";
}

.collapsible[data-collapsed="true"]::before {
    content: "➤ ";
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    max-height: 100%;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}